<div class="h1">
	<h1>Comment l’espacement des pieds affecte-t-il votre squat ?</h1>
</div>
 <div class="paragraph"> <p>Par Jimmy THAI, Journaliste scientifique</p></div>
<div class="article">
		<img src="../assets/images/squatArticle.jpg" alt="Photo de l'article">
</div>

  <div class="description">

    <p>Votre exécution au squat est-elle limitée par une mauvaise mobilité de la cheville ou par des fémurs longs ? Si c’est le cas, vous devriez peut-être essayer de modifier le positionnement de vos pieds.</p>
<p>Lorsque vous parlez à des pratiquants ayant des difficultés au squat, les deux principaux commentaires que vous entendrez sont les suivants “J’ai du mal à descendre jusqu’en bas sans que mon dos ne s’arrondisse parce que mes chevilles sont trop raides”, et/ou “mes flexions de jambes sont tout simplement difficiles parce que mes fémurs sont trop longs”.</p>
<p>Si l’un de ces problèmes vous concerne ou si vous êtes un coach qui doit fréquemment résoudre des problèmes de biomécanique liés aux squats, l’étude examinée dans cet article(1) pourrait vous intéresser.</p>
<hr>
<h2>Décryptage de l’étude</h2>
<h3>Participants et méthodes</h3>
<h4>Participants</h4>
<p>Les participants étaient 32 adultes en bonne santé. Pour être admis à l’étude, les sujets devaient être capables de s’accroupir suffisamment bas pour que l’arrière des cuisses soit parallèle au sol avec un écartement de jambes à la largeur des hanches.</p>
<p>À noter une taille d’échantillon très satisfaisante dans cette étude. Beaucoup d’études utilisent des puissances de calcul optimistes (les auteurs estiment que la taille d’effet sera importante alors qu’une petite taille d’effet est beaucoup plus plausible, et ils se retrouvent donc avec trop peu de participants pour détecter quoi que ce soit).</p>
<p>Ce n’est pas le cas ici. En effet, cette étude a été conçue pour détecter des différences d’amplitude de mouvement des articulations de seulement 5° !</p>
<h3>Protocole de l’étude</h3>
<p>Les participants ont effectué des squats avec trois positions différentes : une position à la largeur du bassin (étroit), une position à 150 % de la largeur du bassin (moyen) et une position à 200 % de la largeur du bassin (large).</p>
<p>La largeur des positions a été normalisée en mesurant le bassin de chaque personne et en plaçant des marques au sol pour indiquer les trois différents écartements de jambes.</p>
<p>Les participants devaient aligner le bord latéral de leur talon avec les marques au sol, mais étaient libres de choisir eux-mêmes l’orientation des pieds.</p>
<p>Les participants devaient effectuer trois flexions à chaque position, en tenant un jalon en bois à l’arrière de leurs épaules. Les données cinématiques ont été recueillies durant les squats à l’aide d’un système de capture de mouvements en trois dimensions.</p>
<p>Pour l’analyse, les angles des articulations ont été enregistrés pendant la phase excentrique du squat après chaque variation de 10° par rapport à l’angle du fémur. Donc, en partant de la position debout, correspondant à un angle du fémur de 0°, et à la position jambes parallèle au sol, correspondant à un angle du fémur de 90° : les angles articulaires étaient enregistrés à chaque incrément de 10° entre ces deux points.</p>

<hr>
<h2>Résultats de l’étude</h2>
<p>Les données sont rapportées pour des angles de cuisses allant de 10° (début de la descente) à 80° (presque parallèle). Il convient de noter que tous les participants ont squatté au moins jusqu’à ce qu’ils atteignent un angle de cuisse de 60°, mais que seuls 18 et 8 sujets ont atteint un angle de cuisse de 70° et 80°, respectivement.</p>

<p>Dans l’ensemble, les flexions de la hanche et les dorsiflexions de la cheville avaient tendance à être plus importantes avec des positions plus étroites. Des différences significatives ont été observées entre les groupes pour la dorsiflexion de la cheville à tous les angles de cuisses.
</p>
<p>Pour la flexion des hanches, les différences n’étaient significatives que vers le début de la descente (angles de 20° et 30°) et proche de la parallèle (angles de 70° et 80°). À noter également de très légères différences dans la flexion des genoux au tout début du squat, mais pas réellement significatives.</p>
<br>
<div class="article">
    <img src="../assets/images/ecartement.jpg" alt="Photo de l'article">
</div>
<br>
<br>
<p>On constate que les personnes ayant des fémurs plus longs, par rapport à la longueur de leur torse ou de leur jambe, ont tendance à avoir besoin d’une plus grande flexion des genoux, quelle que soit la profondeur du squat.</p>

<p>Ces observations étaient vérifiées pour tous les écartements de pieds avec tous les différents rapports de longueur entre le tronc et les cuisses, uniquement pour les écartements étroits et moyens pour le rapport de longueur cuisses/jambes.</p>
<br>
<div class="article">
    <img src="../assets/images/genou.png" alt="Photo de l'article">
</div>
<br>
<br>

<p>On constate également que les personnes ayant des cuisses/fémurs plus longs, par rapport à la longueur de leur torse ou de leur jambe, avaient tendance à avoir besoin d’une plus grande dorsiflexion de la cheville à chaque angle pendant leur squat.</p>

<p>Ces observations étaient significatives uniquement pour les squats effectués avec un écartement moyen, pour le ratio longueur du tronc/cuisse, et pour les squats étroits et moyens, pour le ratio longueur des cuisses/jambes.</p>
<p>Autrement dit, la longueur relative des cuisses/fémurs a une incidence sur la dorsiflexion des chevilles pour les squats étroits et moyens, mais n’a pas tendance à être préjudiciable sur la dorsiflexion avec des squats larges.</p>

<hr>
<h2>Mes commentaires et interprétations</h2>

<p>Je réalise que ces résultats biomécaniques peuvent paraître compliqués, voire obscurs, mais en termes simples, les squats larges nécessitent moins de flexion de hanche et de dorsiflexion de la cheville, surtout lorsque les personnes se rapprochent de la parallèle.</p>

<p>Il en ressort que les personnes ayant des cuisses/fémurs relativement longs ont tendance à avoir besoin de plus de flexion du genou et de dorsiflexion de la cheville, mais seulement pour les positionnements étroits et moyens ; la flexion du genou et de la hanche avec des écartements plus importants est moins influencé par la longueur des cuisses.</p>
<p>Une chose que j’ai vraiment appréciée dans cette étude, c’est que la largeur des positions était normalisée, tandis que l’orientation des pieds était décidée en fonction des préférences de chacun. De nombreuses études sur la biomécanique du squat exigent que les pieds soient dirigés droit devant, ce qui ne reflète pas la façon dont la plupart des gens squattent en réalité.</p>
<p>Je pense que la conclusion la plus importante de cette étude est que, toutes choses égales par ailleurs, les squats avec un écartement large nécessitent une moindre dorsiflexion des chevilles et une moindre flexion des hanches et sont également moins affectés par les rapports de longueur des segments du corps. Ces résultats correspondent à mes propres observations.</p>
<br>
<div class="article">
    <img src="../assets/images/squatec.jpg" alt="Photo de l'article">
</div>
<br>
<br>
<p>
    La plupart des gens savent que j’adopte une position de squat assez large, mais la plupart des gens ne savent pas que je dois m’accroupir ainsi à cause d’une vieille blessure à la cheville qui a limité de façon permanente la dorsiflexion de ma cheville gauche. Lorsque je me suis mis à la musculation, je ne savais pas comment parvenir à descendre très bas sans une flexion extrême du tronc en avant lorsque j’adoptais un écartement de jambe étroit (qui était imposé par le coach). Une fois que j’ai commencé à augmenter l’écartement, tout a fini par s’arranger, et les squats sont passés de l’exercice que j’appréciais le moins à celui que je préfère parce que ma dorsiflexion réduite ne limitait plus ma capacité à squatter à fond en toute sécurité.
</p>

<p>Donc pour ces personnes plus grandes et plus élancées qui ne se sentent jamais bien dans leurs squats, apprendre à squatter avec une position plus large (ce qui permet d’atténuer les effets de leur taille et les aide à s’accroupir en se penchant un peu moins vers l’avant) pourrait être une bénédiction.</p>
<p>Cela ne veut pas dire pour autant que les squats avec un écartement plus large conviennent à tout le monde. Si vos hanches ne vous permettent tout simplement pas de vous accroupir suffisamment bas, n’essayez pas de défier votre anatomie.</p>

<p>De plus, si vous avez des antécédents de problèmes d’adducteurs et/ou à l’aine, les positions de squats larges doivent être exécutées avec beaucoup de prudence. Bien sûr, si vous n’avez pas de cuisses/fémurs longs, il ne semble pas y avoir d’avantage inhérent aux positions de squats larges.</p>
<br>
<div class="article">
    <img src="../assets/images/squat5.jpg" alt="Photo de l'article">
</div>
<br>
<br>
<p>Si vous souhaitez expérimenter une position de squat plus large, je vous recommande deux stratégies. Pour votre entraînement de squat, augmentez simplement la largeur de votre position de quelques centimètres, mais pas au point de vous sentir moins à l’aise qu’avec le type de squat auquel vous êtes habitué.

</p>

<p>Une fois que vous serez confortable avec cette position (généralement après 3 à 5 séances), élargissez-la encore un peu jusqu’à ce que vous trouviez enfin une largeur qui vous convienne vraiment.</p>
<p>Deuxième conseil, il peut être utile de faire des squats avec pause.</p>
<p>Trouvez la position la plus large qui ne soit pas inconfortable, même si elle ne vous permet pas de descendre suffisamment bas, et faites des séries de 5 à 6 répétitions avec des pauses d’environ 5 secondes. Gardez une charge légère, et concentrez-vous sur la descente de chaque répétition. Ces deux stratégies ne vous permettront pas de dépasser vos limites anatomiques, mais si vous avez des hanches qui vous permettent de squatter large, cela vous aidera à vous habituer de façon progressive à une nouvelle position.</p>
<hr>
<h2>Ce qu’il faut retenir</h2>
<p>Les squats larges ne nécessitent pas autant de flexion de hanches ou de dorsiflexion des chevilles par rapport aux squats avec les jambes plus serrées, et ils semblent également être moins affectés par la longueur des cuisses. Si vous avez une mobilité limitée au niveau de la cheville ou des cuisses très longues, ou si vous êtes obligé de vous pencher excessivement vers l’avant lors de votre squat, vous devriez au moins essayer de faire des squats larges.</p>


<hr>
<div class="reference">

<h3>References</h3>
<p>Demers, Eric, et al. « The Effect of Stance Width and Anthropometrics on Joint Range of Motion in the Lower Extremities during a Back Squat ». International Journal of Exercise Science, vol. 11, no 1, 2018, p. 764‑75.</p>
<p>https://www.docteur-fitness.com/comment-lespacement-des-pieds-affecte-t-il-votre-squat</p>
</div>
</div>


