<div class="h1">
	<h1>Comment travailler sur la douleur via l’hypnose chez le sportif ?</h1>
</div>
 <div class="paragraph"> <p>Clément GUAIS, Praticien en hypnose Ericksonienne</p></div>
<div class="article">
		<img src="../assets/images/pain.jpg" alt="Photo de l'article">
</div>

  <div class="description">
<p>La douleur occupe une place très importante, voire quotidienne, dans la vie d’un sportif. Parfois mise de côté, elle représente souvent un indicateur de progression et le franchissement d’une étape lors de l’entrainement.
<p>Il est souvent mentionné que plus l’entraînement sera difficile, plus la compétition sera facile.</p>
    <p>Mais à quoi sert-elle et jusqu’où un sportif peut-il aller pour surpasser la douleur ?</p>

   <p> <b>Comment peut-il gérer cette sensation sans mettre en péril sa santé ?</b></p>
    <p>Nous essaierons à travers cet article de répondre à ces interrogations en expliquant à la fois le <b>rôle de la douleur </b>et son fonctionnement dans le corps, mais aussi en proposant des <b>techniques pour pouvoir la gérer.</b></p>
<hr>
<h2>Qu’est-ce que la douleur ?</h2>
<p>La douleur est une notion extrêmement difficile à définir, car comme les émotions, elle est propre à chacun.</p>
<p>Elle peut varier en fonction des individus et de leurs expériences personnelles.</p>
<p>Une personne peut ainsi être plus habituée qu’une autre à cette sensation et peut donc plus facilement la gérer et la repousser.</p>
<p>Physiologiquement, la douleur est avant tout un système de défense inné qui permet de réagir à un potentiel danger. Par exemple, la main proche du feu ou lorsqu’on se coupe.</p>
<p>Elle se traduit donc par :</p>
<ul class="blue-bullets">
    <li>Une sensation localisée dans le corps, avec les différents types de douleurs que l’on connaît tous : brûlure, piqûre, pincement, etc.</li>
    <li>Une émotion, qui va venir amplifier ou diminuer la sensation de douleur. En effet, plus on est focalisé de façon négative sur notre douleur, plus celle-ci aura tendance à s’amplifier.</li>
    <li>Une réaction, comme retirer la main du feu, se prendre la main, pleurer, être mal à l’aise… </li>
    <li>Un apprentissage lié à l’émotion, qui représentera ce qu’on garde de cette douleur pour ne plus recommencer un geste, pour mieux anticiper et savoir comment gérer la même chose dans le futur.</li>

  </ul>
  <br>
  <p>Souvent, une douleur est tellement bien apprise, qu’elle peut générer des peurs voire des phobies.</p>
<p>Prenez un temps pour vous remémorer un souvenir où il y avait un peu de douleur.</p>
<p>Regardez à quel point le souvenir peut être parfaitement net, comme si vous l’aviez vécu hier.</p>
<p>Cela veut tout simplement dire que votre cerveau à bien fait son travail.</p>
<p>Cet apprentissage peut en revanche être limitant dans la vie quotidienne, et dans la pratique sportive.</p>
  <hr>
<h2>La différence entre la souffrance physique et la douleur physique</h2>
<p>Dans le sport, la <b>souffrance</b> comme la <b>douleur</b> sont deux phénomènes souvent recherchés pour performer. Cependant, il est important de prendre en considération plusieurs éléments qui vont permettre de continuer à progresser sans se blesser.</p>
<p>Il est tout à fait normal et naturel de ressentir de la souffrance lors d’un entrainement.</p>
<p>Elle s’explique par l’intensité des exercices proposés par l’entraîneur ou le préparateur physique, ainsi que la charge de travail réalisé dans le cycle par l’athlète.</p>
<p>Or, le fait de souffrir à l’entraînement ne veut pas forcément dire que cela est douloureux au sens propre, c’est-à-dire avoir un danger pour la santé.</p>
<p>Le fait de pousser le corps un peu plus loin va sortir l’athlète de sa zone de confort pour que l’organisme puisse justement s’adapter à ces sensations et se renforcer.</p>
<p>Le véritable danger intervient lorsque l’athlète ressent de vives douleurs alors que l’intensité de l’exercice n’est pas à son maximum. Cela signifie plusieurs choses qui sont directement liées à la santé de l’individu :</p>
<ul class="blue-bullets">
<li>Le sportif manque de repos ;</li>
<li>Le sportif à une lésion corporelle plus ou moins grave.</li>
  </ul>
<hr>
<h2>La gestion de la douleur par l’hypnose</h2>
<p>L’hypnose est reconnue depuis des années pour sa capacité de gestion de la douleur et des émotions qui vont avec.</p>
<p>Cette technique est utilisée en médecine, chirurgie, dentisterie, etc. pour être associé aux méthodes d’anesthésie classique.</p>
<p><b>Comment ça fonctionne ?</b></p>
<p>Comme expliqué lors de mon précédent article sur l’hypnose pour la performance, l’imagination d’une personne va devenir sa réalité lorsqu’elle entre dans un état de conscience modifié.</p>
<p>Ainsi, si sa réalité hypnotique devient sa réalité quotidienne, il sera alors bien plus facile et efficace de créer l’illusion de la diminution de la douleur.</p>
<p>De plus, la dissociation du corps étant plus facilement accessible dans un état d’hypnose, si la personne se dissocie, alors elle n’a plus mal.</p>
<p>En effet, si je ne suis plus dans mon corps, mais que je suis exclusivement spectateur de celui-ci, alors la douleur ne m’atteint pas.</p>
<p>Un athlète capable de mettre en place seul ces procédés de gestion de la douleur sera capable de gérer ses sensations et prendre du recul par rapport à son corps en restant focalisé sur la compétition ou l’entraînement.</p>


<hr>
<h2>Exercice d’anesthésie et de gestion de la douleur</h2>
<p>Avant de présenter ces techniques, il est important de savoir qu’elles ne pourront en aucun cas remplacer un avis médical, et qu’elles ne représentent pas une alternative à la médecine.</p>


<hr>
<h2>L’anesthésie</h2>
<p>Cette technique permet non pas d’enlever complètement la douleur, mais de la supporter à un niveau bien plus important que d’habitude.</p>
<p>Pour expérimenter cela, prenez un signal douloureux localisé sur le corps, par exemple un pincement. Puis essayez ceci :</p>

<ul class="blue-bullets">
   <li>Pincez-vous une première fois de façon à sentir une douleur assez désagréable.</li>
<li>Évaluez la douleur sur une échelle de 1 à 10.</li>
<li>Prenez un temps pour fermer les yeux et vous concentrer sur votre respiration pendant 1 ou 2 minutes.</li>
<li>Maintenant, imaginez qu’à l’endroit du pincement vous appliquiez une crème anesthésiante (vous pouvez même mimer). Ressentez la texture de la crème, la sensation sur la peau, la fraîcheur que cela peu créer.</li>
<li>Imaginez qu’en plus de cette crème, vous mettiez à cet endroit-là de la glace. Ainsi, quand une partie du corps devient très froide elle devient quasiment insensible.</li>
<li>Ressentez ce froid, cette fraîcheur en plus de la sensation de la crème anesthésiante. C’est comme si une partie du corps commençait à s’endormir, à s’engourdir aussi.</li>
<li>Puis, en gardant les yeux fermés, pincez à nouveau au même endroit. Que ressentez-vous ? Évaluez cette sensation sur une échelle de 1 à 10 et comparez.</li>
<li>Rouvrez les yeux, en prenant le temps de faire revenir les sensations habituelles.</li>
</ul>




<hr>
<h2>Gestion de la douleur</h2>
<ul class="blue-bullets">
<li>Pensez à votre douleur dans un endroit du corps.</li>
<li>Donnez-lui une forme, une couleur, une texture, une taille.</li>
<li>Amplifiez cette sensation. Imaginez que la couleur devienne plus vive, que la taille soit plus importante. L’image liée à cette douleur doit être plus nette aussi.</li>
<li>Puis faites l’inverse. Changez la couleur, la forme, la taille. Déplacez la douleur partout dans le corps. Imaginez qu’elle ne vous appartienne même plus.</li>
<li>Qu’est-ce que ça change pour vous ? Comment vous sentez vous ?</li>
<br>
<p>Ces exercices doivent être répétés pour être améliorés. Comme le physique, le mental s’entraine pour progresser.</p>
<br>
<p>Alors entrainez-vous bien.</p>




</ul>














<hr>
<div class="reference">

<h3>References</h3>
<p>https://www.docteur-fitness.com/travailler-douleur-hypnose-sportif</p>
</div>
</div>


