


	<h1>Course à pied et hydratation : les astuces à ne pas manquer</h1>
 
    <div class="paragraph"><p>Par Meritxell Sacasas, Masseuse-kinésithérapeute, Personal trainer manager</p></div>
<div class="article">
		<img src="../assets/images/course.jpg" alt="Photo de l'article" width="600"height="350">
</div>

  <div class="description">
<p>Nous devons garder à l’esprit que nous sommes composés d’environ 60 % d’eau et que, pour que notre organisme fonctionne correctement, il est essentiel de garder cette proportion d’eau. Lorsque nous sommes déshydratés, le niveau d’eau dans notre sang diminue, ce qui entrave sa circulation et, en conséquence, nos organes et nos muscles reçoivent une quantité inférieure de nutriments et d’oxygène nécessaires.</p>
<p>Les sportifs sont particulièrement sensibles à la perte d’eau. Avec l’exercice physique, la température corporelle augmente. Pour se refroidir, le corps sécrète de la sueur et, par conséquent, l’eau corporelle est perdue. Si l’on ne compense pas cette perte, le corps se déshydratera progressivement ce qui peut avoir des conséquences négatives pour notre santé. Effectivement, un niveau insuffisant d’eau fait que la température corporelle et la fréquence cardiaque augmentent, la tension artérielle s’abaisse de 1-3 % et la force musculaire et l’endurance descendent d’environ 10 à 20 % selon le degré de déshydratation. De plus, les chances de souffrir de crampes, de contractures ou de blessures augmentent. Également, un manque d’eau dans notre corps peut diminuer nos performances sportives, altérant la capacité de concentration et la prise de décision, aspects essentiels notamment dans les compétitions.</p>
<p>On n’oubliera pas l’image de l’athlète suisse Gabriela Andersen-Schiess qui chancelle désorientée jusqu’à la ligne d’arrivée au Marathon des JO de Los Angeles en 1984. C’est un exemple qui montre que les effets nocifs de la déshydratation peuvent aller jusqu’aux étourdissements, aux convulsions, à un coma ou à une perte totale de conscience et dans les cas les plus extrêmes, à la mort.</p> 

<hr>
<h2>Comment savoir si je suis déshydraté ?</h2>
<p>Savoir quand on a besoin de s’hydrater n’est pas toujours évident. Continuez à lire pour connaître mes conseils </p>
<hr>
<h2>Les signes de déshydratation</h2>
<p>Les signes de déshydratation sont la preuve la plus évidente d’une mauvaise gestion de l’apport hydrique. L’un d’entre eux est la soif, qui apparaît lorsque nous avons déjà perdu 1 % de notre poids corporel, un niveau où on voit déjà les performances physiques s’altérer. En plus de la soif, on trouve d’autres signes comme la fatigue mentale et physique, la faiblesse, les picotements dans les jambes, les crampes musculaires et les nausées ou les vomissements, entre autres.</p>


<hr>
<h2>La méthode de l'urine</h2>
<p>Une façon d’évaluer l’hydratation est d’observer l’urine. Si la littérature nous dit que la quantité n’est pas importante(1) (en effet, uriner peu n’est pas nécessairement un signe de déshydratation), la couleur semble avoir son mot à dire. Certains auteurs assurent qu’elle doit être claire et inodore. Si elle est sombre, nous sommes peut-être déshydratés, car quand l’on boit moins, l’urobiline est plus concentrée, ce qui rend les urines plus foncées. Néanmoins, cette technique paraît être peu précise vu que d’autres affections peuvent rendre l’urine de la même couleur. En effet, une étude réalisée avec des athlètes d’ultramarathon constate aussi que, pour ce type de compétition, les mesures d’hydratation de l’urine telles que la couleur, la gravité ou l’osmolarité, ne servent pas à surveiller l’état d’hydratation(2).</p>
<hr>
<h2>Le pourcentage de masse corporelle perdu</h2>
<p>Afin d’anticiper et de prévenir la déshydratation, on peut aussi calculer le pourcentage de déshydratation. Comment le faire ? D’abord, nous devons connaître, à l’aide d’une balance, le changement de poids corporel qui se produit pendant l’entraînement ou la compétition. On fera un simple calcul :</p>
<p><b>Poids avant exercice – poids après exercice (en kilogrammes)</b></p>
<p></p>
<p></p>
<p>Ensuite, nous devons diviser le résultat par le poids corporel avant l’exercice (aussi en kg), puis le multiplier par cent. Le résultat nous donnera le pourcentage ou le niveau de déshydratation de votre organisme. Cette technique vise à vérifier si nous avons perdu plus de 2 % de notre poids en liquides : si c’est le cas, cela signifie que la stratégie d’hydratation que nous avons adoptée n’a pas été adéquate pour prévenir la déshydratation.</p>
<hr>
<h2>Techniques de laboratoire</h2>
<p>Dans le cas d’athlètes professionnels, des examens plus spécifiques de laboratoire sont souvent faits afin d’atteindre une performance sportive optimale. Une prise de sang, une analyse d’urine ou de bioimpédance peuvent être des solutions adaptées à ces personnes.</p>
<hr>
<h2>Combien d’eau dois-je boire ?</h2>
<p>L’eau n’est pas l’unique source d’hydratation. Le corps entier s’hydrate à travers l’eau que nous buvons, mais à travers celle aussi contenue dans notre alimentation. Les habitudes d’hydratation changent en fonction des préférences de la personne et même de sa culture ou de sa croyance religieuse ! D’ailleurs, on peut citer la consommation de bière après le sport dans les pays occidentaux, la consommation de jus de canne à sucre en Inde et le jeûne du ramadan chez les musulmans(3). La disponibilité des boissons ou l’accès à l’eau potable peut aussi influencer la façon de s’hydrater. Pour ces raisons ainsi que pour les différences biologiques et sportives entre individus, les changements météorologiques ou environnementaux, et d’autres facteurs, cela est très difficile de fixer des formules magiques standardisées indiquant l’apport hydrique par jour conseillé.</p>
<p>Cependant, selon les recommandations générales, chez les adultes, il est plébiscité de boire environ 2 à 2,5 litres d’eau par jour. Cette quantité changera en fonction de l’activité physique que nous réalisons, son intensité, sa durée et même si on la pratique sous un climat chaud humide.
</p>
<p>Pendant la pratique sportive, si l’entraînement dure moins d’une heure, la perte de liquide n’arrivera pas à 2 % du poids corporel, donc il suffira de boire un peu d’eau ou tout simplement de bien s’hydrater avant de sortir et aussi après l’activité. Pour les séances de plus d’une heure, on conseille de prévoir les quantités et les types de boissons que vous allez prendre en fonction de vos besoins.</p>

<hr>
<h2>Alors, comment connaître mes propres besoins ?</h2>
<p>Facile ! Il suffit de se mettre encore sur une balance avant et après une activité physique pour quantifier la perte de liquides. Prenons un exemple. Si vous pesez 63,4 kg avant de vous entraîner, puis 63,2 kg, vous avez perdu 200 g d’eau, mais si vous avez bu un demi-litre d’eau pendant la séance, vous devez aussi soustraire cette quantité d’eau de votre poids total. Cela vous donnera donc la quantité finale qui serait d’environ 700 ml de liquide perdu pendant toute la course (63,4 kg – 200 g perdus – 500 ml but = 700 ml). C’est la quantité d’eau à boire lors de la prochaine séance. N’oubliez pas de refaire ce calcul à des jours différents et ainsi savoir comment chaque entraînement vous affecte selon son intensité, la météo, etc.</p>
<p>À noter que, cette technique n’est pas exacte, une partie du changement de la masse corporelle pendant un exercice prolongé sera en raison de l’oxydation des réserves de carburant endogènes, de la génération d’eau avec l’oxydation du carburant et de la libération d’eau lors de la glycogénolyse(4).</p>

<hr>
<h2>Conseils pratiques</h2>
<div class="ul">
<ul>
  <li>Commencez l’exercice dans un état optimal d’hydratation pour le corps. Évitez l’hydratation excessive avant l’exercice. Connaissez votre limite de tolérance aux liquides pour éviter la surcharge gastrique ;</li>
  <li>Pendant la course, buvez à votre soif, encore mieux, buvez avant d’avoir soif… mais évitez de le faire en excès ! Cela pourrait induire une hyponatrémie, une diminution de la concentration de sodium dans le corps ;</li>
  <li>Évitez la supplémentation en sodium pendant les courses très longues. Il suffira simplement d’apporter une boisson avec des électrolytes, des barres ou du gel sportif pour remplacer les pertes ;</li>
<li>Pendant l’activité physique, il faut boire lentement, par petites gorgées. Également, le liquide doit être à une température entre 10 et 15°C pour favoriser son absorption ;</li>
<li>Si les liquides doivent être transportés par le coureur, il est préférable de bien estimer ses besoins en sachant que cela variera en fonction du parcours et des conditions environnementales. L’excès de poids pourrait ralentir le coureur ;</li>
<li>En cas de compétition dans des conditions ambiantes chaudes, une acclimatation au préalable à la chaleur est utile ;</li>
<li>En été, l’idéal est de courir dès le matin ou au coucher du soleil. Les heures les plus chaudes sont comprises entre 12 et 18 heures, alors évitez ce créneau horaire ;</li>
<li>Parfois, l’arrêt de la transpiration pendant l’exercice physique intense à des températures élevées est un signe que votre corps est déshydraté. Si votre peau est sèche et chaude ou si vous vous sentez confus, interrompez l’entraînement immédiatement pour vous réhydrater ;</li>
<li>Si l’on court en hiver ou dans des environnements froids, c’est probable que le corps ne détecte pas correctement la perte d’eau dans notre corps. À partir de 0°C, l’air manque d’humidité et il se produit une plus grande évaporation d’eau à travers les voies respiratoires. De plus, l’utilisation de vêtements thermiques favorise la transpiration. Donc, dans ces circonstances, vous devriez boire de l’eau toutes les 20-30 minutes ;</li>
<li>Attentions aux amateurs de trail qui courent à une altitude supérieure à 1 500 mètres ! Sachez qu’à des altitudes plus élevées, moins d’humidité et moins d’oxygène sont disponibles. Ces facteurs contribuent à une déshydratation supplémentaire ;</li>
<li>La meilleure façon de déterminer l’état d’hydratation optimale passe par la création d’un historique de l’apport hydrique et la surveillance de la masse corporelle. Notez aussi le type d’entraînement réalisé et d’autres données comme la météo ou vos sensations. Faites des comparaisons, cela vous permettra de trouver la quantité d’eau appropriée à chaque situation.</li>

</ul>
</div>

<p>Finalement, l’idéal c’est d’avoir un plan d’hydratation individuel pour chaque athlète en fonction de la sueur, de l’intensité de l’exercice, de la température corporelle et de la température ambiante, du poids corporel, de la fonction rénale et de nombreux autres facteurs. L’ACSM suggère des taux d’hydratation plus élevés pour les athlètes plus rapides et plus lourds qui concourent dans des environnements chauds, et des taux plus faibles pour les athlètes plus lents et plus légers qui concourent dans des environnements plus frais(5).</p>
<hr>
<div class="reference">
<h2>Réferences</h2>
<p>1↑ Costa, Ricardo J. S., et al. « Nutrition for Ultramarathon Running: Trail, Track, and Road</p>
<p>2↑ ». International Journal of Sport Nutrition and Exercise Metabolism, vol. 29, no 2, mars</p>
<p>4↑ 2019, p. 130‑40. PubMed, https://doi.org/10.1123/ijsnem.2018-0255.</p>
<p>3↑ Leow, Clarence Hong Wei, et al. « Cultural Differences in Hydration Practices among Physically Active Individuals: A Narrative Review ». Journal of the International Society of Sports Nutrition, vol. 19, no 1, 2022, p. 150‑63. PubMed, https://doi.org/10.1080/15502783.2022.2057196.</p>
<p>5↑ Vitale, Kenneth, et Andrew Getzin. « Nutrition and Supplement Update for the Endurance Athlete: Review and Recommendations ». Nutrients, vol. 11, no 6, juin 2019, p. 1289. PubMed, https://doi.org/10.3390/nu11061289.</p>
<p>https://www.docteur-fitness.com/course-a-pied-et-hydratation-les-astuces-a-ne-pas-manquer</p>
</div>
</div>


