.navbar-light .navbar-nav .nav-link
{
    color: var(--secondary-color);
}
.navbar-light .navbar-nav .nav-link.active-link
{
  position: fixed;
  top: 0;
  left: -300px;
  max-width: 300px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  visibility: hidden;
  transition: 0.25s;
  z-index: 2;
  color: var(--primary-color);
}

