
	<h1>Quelles sont les causes du butt wink au squat ?</h1>
 
    <div class="paragraph"><p>Par Ludovica APE, Strength and Conditioning Coach</p></div>
<div class="article">
		<img src="../assets/images/squat.avif" alt="Photo de l'article" height="500" height="500" />
</div>

  <div class="description">
<p>Malgré son nom amusant, le terme “butt wink” (en français clin d’œil) fait en fait référence à un phénomène indésirable survenant lors de l’exécution d’un squat : l’utilisateur arrondit son dos à la fin de la partie excentrique d’une répétition, ce qui l’expose à un risque de blessure et réduit le recrutement musculaire.</p>
<p>Heureusement, il est possible de remédier assez facilement à ce problème une fois que l’on en a trouvé les causes, car le butt wink peut être dû à un grand nombre de raisons différentes liées au squat ou aux exercices d’échauffement effectués.</p>
<p>Quelle que soit la cause du butt wink, les pratiquants devraient essayer de corriger ce problème le plus rapidement possible s’ils souhaitent continuer à faire des squats, car le butt wink peut conduire à des blessures douloureuses au niveau du rachis lombaire.</p>
<hr>
<h2>Que désigne le terme Butt Wink ?</h2>
<p>Le butt wink est une déviation de la courbure neutre de la colonne vertébrale et du bassin en bas du mouvement de squat, ce qui entraîne une flexion de la colonne lombaire (dos rond) dans une position où les contraintes sont importantes.</p>
<p>D’un point de vue visuel, on dirait que le coccyx et les fesses du pratiquant s’arrondissent vers l’avant, arrondissant le bas du dos au lieu de former une légère cambrure indiquant un angle neutre de la colonne vertébrale (voir illustration ci-dessous).</p>
<div class="article">
		<img src="../assets/images/wink.jpg" alt="Photo de l'article" >
</div>

<p>Lorsque le bassin se replie de cette manière, on parle de bascule postérieure du bassin. Le bassin et le bas du dos sont liés, et donc, si votre bassin commence à basculer vers l’arrière, vous verrez une flexion de la colonne vertébrale et un arrondissement du bas du dos.</p>
<p></p>
<p></p>
<p>Non seulement cette position présente plusieurs inconvénients pour le pratiquant, mais elle se répercute également sur d’autres éléments techniques et mécaniques tout au long de l’exécution du squat, ce qui peut altérer le mouvement dans son ensemble. Le moment où une personne peut ressentir une bascule du bassin est différent pour chacun et varie en fonction de votre mobilité et de votre échauffement.</p>

<hr>
<h2>Le butt wink est-il dangereux?</h2>
<p>Bien que le butt wink ne soit pas toujours immédiatement dangereux, il est susceptible de provoquer des blessures au niveau du bassin, des genoux et du dos s’il n’est pas corrigé rapidement.</p>
<p></p>
<p>Lorsqu’il est répété à de multiples reprises au fil des séances d’entraînement, le butt wink peut entraîner des douleurs aux hanches, une compression, une hernie ou tout autre dommage aux disques de la colonne vertébrale et même des cas de nerfs pincés (sciatique ou cruralgie) qui peuvent devenir très graves si rien n’est fait pour y remédier.</p>
<p></p>
<p>Les personnes qui ont actuellement un problème de butt wink pendant un squat ne doivent cependant pas s’inquiéter, car cette mauvaise posture est relativement facile à corriger une fois que l’on s’en rend compte.</p>
<p></p>

<div class="article">
		<img src="../assets/images/squat1.png" alt="Photo de l'article" width="1000">
</div>

<p></p>
<p></p>

<div class="article">
		<img src="../assets/images/squat2.png" alt="Photo de l'article">
</div>
<hr>
<h2>Pourquoi le butt wink est-il dangereux ?</h2>


<p>Le butt wink est avant tout dangereux dans la mesure où il provoque une flexion du bassin et de la colonne vertébrale dans une position défavorable du mouvement, ce qui crée un environnement idéal pour une blessure.</p>
<p></p>
<p>Cependant, plusieurs autres problèmes découlent aussi directement du butt wink, comme une augmentation de la contrainte exercée sur l’articulation des genoux et tous les dangers liés à l’échec d’une répétition, car le butt wink réduit la capacité de production de force du pratiquant au moment le plus critique de la répétition.</p>
<p></p>

<hr>
<h2>Faut-il arrêter de faire du squat en cas de butt wink ?</h2>
<p>Le fait d’avoir un butt wink pendant l’exécution d’un squat ne justifie pas nécessairement d’arrêter de faire des squats, car c’est en effectuant davantage de squats (et en les corrigeant) que l’on peut remédier au problème, en complément d’exercices de mobilité appropriés.</p>
<p></p>
<p>Ceci dit, à moins que le pratiquant ait réussi à identifier la cause de son problème de butt wink, il est préférable qu’il réduise la charge de travail au squat.</p>
<p></p>
<p>Pour certaines personnes, il y a une certaine profondeur de squat qui peut être effectuée sans que le dos commence à s’arrondir. Dans ce cas, en attendant de corriger les problèmes à l’origine de ce butt wink, vous pouvez continuer à faire du squat en ajustant l’amplitude de votre mouvement pour éviter que votre bassin ne bascule et ne provoque un butt wink.</p>
<p></p>
<p>En cas de doute, le pratiquant peut demander l’avis d’un coach sportif diplômé afin de vérifier si sa technique est correcte et si d’autres facteurs contribuent à son problème de butt wink.</p>
<hr>

<h2>La principale raison du butt wink</h2>
<p>La raison de loin la plus fréquente pour laquelle le butt wink survient est le manque de mobilité des hanches et des muscles qui les relient, comme les muscles ischio-jambiers et adducteurs de la hanche ou les ligaments qui les lient au squelette.</p>
<p></p>
<p>Ce problème de mobilité concerne pratiquement tous les mouvements de l’articulation de la hanche, y compris la flexion de la hanche et la rotation du fémur et de la hanche dans les deux axes, et nécessite donc un programme complet visant à améliorer la flexibilité des hanches.</p>

<hr>
<h2>Autres causes du butt wink</h2>
<p>Bien qu’un manque de mobilité du bas du corps soit la raison principale de ce phénomène, plusieurs autres raisons peuvent y contribuer ou en être directement responsables.</p>
<p></p>
<p>Parmi ces facteurs, on peut citer une ceinture abdominale insuffisamment musclée, des déséquilibres musculaires au niveau des hanches et du bas du dos.</p>
<p></p>
<p>Une flexion précoce de la colonne vertébrale indique un déficit de dorsiflexion de la cheville.</p>
<p></p>
<p>Le placement de la barre lors de votre squat a un impact important sur la technique que vous allez devoir adopter. Les squats avec barre haute placent généralement la barre sur le dessus de vos trapèzes. Les squats avec barre basse positionnent la barre en la plaçant vers les deltoïdes postérieurs. Le butt wink peut survenir si vous finissez par placer la barre bien trop bas sur votre dos. Cela peut également se produire si votre technique de squat ne permet pas à la barre de se déplacer en ligne droite de haut en bas.</p>
<p></p>
<p>Chaque facteur de risque du butt wink doit être sérieusement examiné par le pratiquant et être corrigé de manière appropriée avant de faire des squats de manière intensive.</p>
<p></p>
<hr>
<h2>Comment corriger le butt wink</h2>
<p>Différentes stratégies sont possibles en fonction des nombreuses causes à l’origine de ce problème.</p>
<p></p>
<p>Pour les problèmes de mobilité et d’amplitude de mouvement réduites, une routine d’étirement et d’échauffement appropriée avant de commencer à faire les squats devrait grandement aider à réduire le degré ou la survenue de ce problème.</p>
<p></p>
<p>En cas de déséquilibres ou de faiblesses musculaires, ou si la personne qui fait le squat ne parvient pas à renforcer suffisamment ses abdominaux, la pratique d’exercices d’isolation très ciblés devrait permettre de remédier à ces lacunes au fil du temps.</p>
<p></p>
<p>Si vous ressentez une douleur, un engourdissement ou d’autres signes de blessure liés au butt wink, vous devez d’abord prendre le temps de vous reposer et de récupérer, puis consulter un professionnel de la santé avant d’essayer de corriger la cause de votre problème.</p>
<p></p>
<hr>
<div class="reference">
    <h2>Réferences</h2>
<p>https://www.docteur-fitness.com/quelles-sont-les-causes-du-butt-wink-au-squat</p>

</div>