<div class="banner">
    <div class="content">
        <h1 class="mb-5">Get the lifestyle you deserve, and become a true warrior <br/></h1>
        <a href="#section-jrn">Start your journey <i class="bi bi-arrow-right"></i></a>
    </div>
</div>
<!-- step  -->

<div class="container mt-5 mb-4">
<h1 id = "section-jrn" class="text-center ">Start Your Adventure</h1>
<div class="row mt-5">
   <!--One-->
   <div class="col-lg-4 mt-2">
     <div class="stepbox">
         <a class="nav-link" routerLink="">Sign up on MuscleMAX</a>
     </div>
   </div>

   <!--Two-->
   <div class="col-lg-4 mt-2">
     <div class="stepbox">
         <a class="nav-link" routerLink="">Choose a subscription</a>
     </div>
   </div>

   <!--Three-->
   <div class="col-lg-4 mt-2">
     <div class="stepbox">
         <a class="nav-link" routerLink="">Train</a>
     </div>
   </div>

</div>

<!--Exercices Box-->






	
