
<div class="card">
<div class="card-head">Espace Administrateur</div>
<div class="card-body">
    L'espace administrateur d'un site web est une section réservée aux utilisateurs ayant des droits élevés pour gérer le contenu, la sécurité et les fonctionnalités du site. Les administrateurs peuvent créer, modifier ou supprimer des pages, des articles, des images et des vidéos, ainsi que gérer les utilisateurs et les commentaires. Ils peuvent également configurer des fonctionnalités avancées telles que les options de paiement, les outils de marketing et les statistiques de trafic. L'accès à l'espace administrateur est protégé par des identifiants de connexion sécurisés pour éviter les accès non autorisés.
</div>
</div>
<div class="card">
    <div class="card-head">Cette Espace vous permet de </div>
    <div class="card-body">
    
       <h5 class="bg-secondary text-white">Consulter la liste des Utilisateurs</h5>
       <h5 class="bg-secondary text-white">Ajouter des utilisateurs.</h5>
       <h5 class="bg-secondary text-white">Consulter la liste des produits qui existe dans le site.</h5>
       <h5 class="bg-secondary text-white">Consulter les statésitiques du site.</h5>
       <h5 class="bg-secondary text-white">Gérer les Réseaux Socieux.</h5>

    </div>
    </div>
